/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 de ago. de 2021, 21:25:47
    Author     : laors
*/

* {
    padding: 0;
    margin: 0;
    

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.navUL  {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    
}

.navUL ul{
    list-style: none;
    overflow: hidden;
    width:1349px;
}

.navUL li{
    float: left;
    width: 128px;
    position: relative;
    border-right: 1px;
    display: block;
}

.navUL li a{
    background-color: #343a40;
    color: #dda968;
    display: block;
    padding: 5px 6px;
    border-bottom: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.navUL li a:hover, .nav li a:active{
    background-color: #dda968; /* #CF5C3F; */ 
    color: white; /*#069; */ /*#fff; */  
}
